<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


  <body>
    <div class="pusher" style="margin-top: 50px">
        <div class="ui container">
            <div class="" style="align-content: center">
                <h1 class="ui header">Live Streaming</h1>
                <div class="ui rounded image">
                    <img src="{{ url_for('video_feed') }}" width="854px" height="480">
                </div>

            </div>
        </div>
    </div>
    </body>


</html>